  @import "tailwindcss";
	@plugin "@tailwindcss/typography";


:root {
  --background: #344532;
  --foreground: #E3E7D3;
}

@theme {
	--text-main: 5rem;
	--text-sub: 8.75rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
	--font-unbounded: var(--font-unbounded);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

